table, th, td {
    border: 1px solid black;
}

.container {
	display: block;
	width: 80%;
	margin: 0 auto;
}


.game1 {
	display: inline-block;
	margin-top: 100px;
	width: 40%;
	opacity: 0.5;
}

.game2 {
	display: inline-block;
	float: right;
	margin-top: 100px;
	width: 40%;
	opacity: 1;
}

table {
	width : 100%;
}

.axe {
	background-color: #ffa726;
}

.case {
	width: 9.09%;
	height: 50px;
	background-color: #b3e5fc;
	text-align: center;
}

.cross {
	background-image: url("./images/cross.png");
	background-size: 100% 100%;
}

.portAvion {
	/*background-color: red;*/
}

.croiseur {
	/*background-color: blue;*/
}

.sousmarin {
	/*background-color: cyan;*/
}

.torpilleur {
	/*background-color: orange;*/
}

.destroyer {
	/*background-color: yellow;*/
}